In [107]:
import pandas as pd
from os import listdir
import numpy as np

In [4]:
metro_adj = pd.read_csv(r'./urban_data/metro_adj.csv', header=None)
metro_adj.describe()

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.012346,0.024691,0.024691,0.024691,0.024691,0.049383,0.024691,0.024691,0.024691,0.037037,...,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691
std,0.111111,0.156150,0.156150,0.156150,0.156150,0.218016,0.156150,0.156150,0.156150,0.190029,...,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
metro_adj.shape

(81, 81)

In [ ]:
metro_adj = pd.read_csv(r'./urban_data/metro_adj.csv', header=None)

In [127]:
# 获取矩阵
TRAIN_DATA_PATH="/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_data"
count=0
for i in range(81):
    df = pd.read_csv(TRAIN_DATA_PATH+'/station_'+str(i)+'.csv')
    station_matrix = df['inNums'].values.reshape(1,-1)
    if count==0:
        metro_matrix=np.array(station_matrix)
        count=1
    else:
        metro_matrix=np.vstack((metro_matrix, station_matrix))
metro_matrix=metro_matrix.transpose()

In [94]:
metro_matrix.shape

(81, 3600)

In [95]:
pd.DataFrame(metro_matrix).describe()

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
count,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.481481,66.333333,55.740741,34.802469,23.444444,11.320988,6.864198,2.518519,1.222222,0.432099
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,103.811140,96.801859,77.750688,43.802232,36.515408,14.356033,14.178111,4.062361,1.802776,1.048073
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.000000,17.000000,9.000000,6.000000,4.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45.000000,37.000000,27.000000,19.000000,12.000000,5.000000,3.000000,1.000000,0.000000,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.000000,68.000000,61.000000,44.000000,28.000000,16.000000,8.000000,3.000000,2.000000,0.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,576.000000,600.000000,366.000000,249.000000,238.000000,80.000000,116.000000,29.000000,8.000000,5.000000

In [99]:
pd.DataFrame(metro_matrix).head(5)

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
pd.DataFrame(metro_matrix).to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/metro_matrix_in.csv")

In [108]:
TRAIN_DATA_PATH="/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_data"
df = pd.read_csv(TRAIN_DATA_PATH+'/station_0.csv')

In [17]:
series_df=df['inNums'].values.reshape(1,-1)

In [20]:
len(series_df[0])

3600

In [105]:
result_df = pd.read_csv('/home/joseph/Projects/global_urban_computing/core/GCN/out/tgcn/tgcn_los_lr0.001_batch32_unit256_seq144_pre144_epoch3/test_result.csv')

In [116]:
# 去除关门时间
for i in range(81):
    df = pd.read_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_data" + '/station_' + str(i) + '.csv')
    df["timestamp"] = pd.to_datetime(df["timestamp"])
    df = df[(df['timestamp'].dt.hour>4)]
    df.to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_rm_12_5_data" + '/station_' + str(i) + '.csv')

In [119]:
# 构建矩阵
count=0
for i in range(81):
    df = pd.read_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_rm_12_5_data"+'/station_'+str(i)+'.csv')
    station_matrix = df['inNums'].values.reshape(1,-1)
    if count==0:
        metro_matrix=np.array(station_matrix)
        count=1
    else:
        metro_matrix=np.vstack((metro_matrix, station_matrix))

# 矩阵转置
metro_matrix=metro_matrix.transpose()

In [124]:
metro_matrix.shape

(2850, 81)

In [123]:
pd.DataFrame(metro_matrix).describe()

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
count,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,...,2850.000000,2850.000000,2850.000000,2850.00000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000,2850.000000
mean,96.646667,58.023509,150.914386,115.263158,289.204561,176.455088,93.438596,276.473684,216.393684,453.863509,...,57.077895,35.511930,92.795439,27.27614,109.197544,139.312982,121.396140,142.874035,54.118246,42.677193
std,97.110690,77.801823,133.295610,117.324229,247.846517,142.693405,66.307832,171.182908,153.389042,352.687460,...,46.507217,32.593092,82.997781,21.27534,155.103299,151.295003,140.386959,97.057935,44.286501,55.023423
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,18.000000,74.000000,56.000000,165.000000,107.000000,41.000000,158.250000,132.000000,160.000000,...,27.000000,17.000000,49.000000,14.00000,34.000000,23.000000,20.000000,87.000000,24.000000,18.000000
50%,77.000000,37.500000,118.000000,89.000000,225.000000,155.000000,89.000000,277.000000,197.000000,406.000000,...,47.000000,29.000000,76.000000,24.00000,68.000000,106.500000,80.000000,129.000000,48.000000,30.000000
75%,122.000000,62.000000,178.000000,135.000000,348.750000,205.000000,129.000000,374.000000,279.000000,697.000000,...,75.000000,43.000000,105.000000,34.00000,104.000000,195.000000,181.000000,191.000000,70.000000,43.750000
max,531.000000,446.000000,670.000000,696.000000,1392.000000,969.000000,399.000000,1086.000000,866.000000,1910.000000,...,272.000000,201.000000,545.000000,122.00000,1059.000000,1065.000000,920.000000,527.000000,333.000000,365.000000

In [125]:
pd.DataFrame(metro_matrix).to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/metro_matrix_rm512_in.csv")

In [135]:
# 获取26号矩阵 inNums
count=0
for i in range(81):
    df = pd.read_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/data_26" + '/st_'+str(i)+'.csv')
    station_26_matrix = df['inNums'].values.reshape(1,-1)
    if count==0:
        metro_26_matrix=np.array(station_26_matrix)
        count=1
    else:
        metro_26_matrix=np.vstack((metro_26_matrix, station_26_matrix))
        
metro_26_matrix=metro_26_matrix.transpose()

In [137]:
metro_26_matrix.shape

(144, 81)

In [138]:
pd.DataFrame(metro_26_matrix).to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/metro_26_matrix.csv")

In [141]:
# 处理1-25号outNum矩阵
count=0
for i in range(81):
    df = pd.read_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/data_26" + '/st_'+str(i)+'.csv')
    station_26_out_matrix = df['outNums'].values.reshape(1,-1)
    if count==0:
        metro_26_out_matrix=np.array(station_26_out_matrix)
        count=1
    else:
        metro_26_out_matrix=np.vstack((metro_26_out_matrix, station_26_out_matrix))
        
metro_26_out_matrix=metro_26_out_matrix.transpose()

In [142]:
metro_26_out_matrix.shape

(144, 81)

In [144]:
pd.DataFrame(metro_26_out_matrix).to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/metro_26_out_matrix.csv")