In [27]:
import pandas as pd
from os import listdir
import numpy as np

In [4]:
metro_adj = pd.read_csv(r'./urban_data/metro_adj.csv', header=None)
metro_adj.describe()

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.012346,0.024691,0.024691,0.024691,0.024691,0.049383,0.024691,0.024691,0.024691,0.037037,...,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691,0.024691
std,0.111111,0.156150,0.156150,0.156150,0.156150,0.218016,0.156150,0.156150,0.156150,0.190029,...,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150,0.156150
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
metro_adj.shape

(81, 81)

In [ ]:
metro_adj = pd.read_csv(r'./urban_data/metro_adj.csv', header=None)

In [93]:
TRAIN_DATA_PATH="/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_data"
count=0
for i in range(81):
    df = pd.read_csv(TRAIN_DATA_PATH+'/station_'+str(i)+'.csv')
    station_matrix = df['inNums'].values.reshape(1,-1)
    if count==0:
        metro_matrix=np.array(station_matrix)
        count=1
    else:
        metro_matrix=np.vstack((metro_matrix, station_matrix))

In [94]:
metro_matrix.shape

(81, 3600)

In [95]:
pd.DataFrame(metro_matrix).describe()

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
count,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,...,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.481481,66.333333,55.740741,34.802469,23.444444,11.320988,6.864198,2.518519,1.222222,0.432099
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,103.811140,96.801859,77.750688,43.802232,36.515408,14.356033,14.178111,4.062361,1.802776,1.048073
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.000000,17.000000,9.000000,6.000000,4.000000,2.000000,1.000000,0.000000,0.000000,0.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,45.000000,37.000000,27.000000,19.000000,12.000000,5.000000,3.000000,1.000000,0.000000,0.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83.000000,68.000000,61.000000,44.000000,28.000000,16.000000,8.000000,3.000000,2.000000,0.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,576.000000,600.000000,366.000000,249.000000,238.000000,80.000000,116.000000,29.000000,8.000000,5.000000

In [96]:
metro_matrix=metro_matrix.transpose()

In [97]:
metro_matrix.shape

(3600, 81)

In [99]:
pd.DataFrame(metro_matrix).head(5)

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
pd.DataFrame(metro_matrix).to_csv("/home/zhibo/data/hexi/hexi2/global_urban_computing/data/metro_matrix_in.csv")

In [9]:
TRAIN_DATA_PATH="/home/zhibo/data/hexi/hexi2/global_urban_computing/data/raw_data"
df = pd.read_csv(TRAIN_DATA_PATH+'/station_0.csv')

In [17]:
series_df=df['inNums'].values.reshape(1,-1)

In [20]:
len(series_df[0])

3600